/ChuaBaiTapLab1/nbproject/private/
/ChuaBaiTapLab1/build/
/JavaBackend_Lab02/nbproject/private/
/JavaBackend_Lab02/build/
/JavaBackend-ChuaBaiLab2/nbproject/private/
/JavaBackend-ChuaBaiLab2/build/
/DemoKeThua/nbproject/private/
/DemoKeThua/build/
/baiHocVien/JavaBackend_Ex4/nbproject/private/
/baiHocVien/JavaBackend_Ex4/build/
/baiHocVien/JavaBackend_Ex4/dist/
/DemoClassVoDanh/nbproject/private/
/DemoClassVoDanh/build/
/DemoEx/nbproject/private/
/DemoEx/build/
/DemoCollectionssss/nbproject/private/
/DemoCollectionssss/build/
/DemoIO/nbproject/private/
/DemoIO/build/
/DemoNetwork/nbproject/private/
/DemoNetwork/build/
/RMIInterface/nbproject/private/
/DemoRMIServer/nbproject/private/
/RMIInterface/dist/
/RMIInterface/build/
/DemoRMIServer/build/
/DemoRMIClient/nbproject/private/
/DemoRMIClient/build/
/DemoURL/nbproject/private/
/DemoURL/build/
/DemoJDBC/nbproject/private/
/DemoJDBC/build/
/JavaApplication34/nbproject/private/
/DemoJPA02/nbproject/private/
/DemoJPA02/build/
/DemoJPAQuanHe/nbproject/private/
/DemoJPAQuanHe/build/
/DemoFrontEnd/nbproject/private/
/DemoWeb01/nbproject/private/
/DemoWeb01/dist/
/DemoWeb01/build/
/DemoServlet/target/